@charset "UTF-8";

:root {
    --cor1: #3c848d;
    --cor2: #83a5a5;
    --cor3: #7595BF;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, Arial, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

body {
    width: 100vw; 
    height: 100vh;
}

body {
    background-color: var(--cor3);
    box-sizing: border-box;
}

header {
    background-color: var(--cor1);
    height: 60px;
    width: 100vw;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.603);
}

header h1 {
    text-align: center;
    color: white;
    align-items: center;
    width: auto;
}

main {
    margin: 20px auto;
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    font-size: 18px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);

    transition: .5s ease;
}

div.form {
    margin: 30px 0px;
}

input.cem {
    width: 97%;
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}

label.label {
    display: block;
}

input[type='radio'] {
    margin-top: 20px;
    margin-left: 20px;
}

select {
    width: 100%;
    margin: 30px 0px 0px 0px;
    font-size: 16px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

input[type="file"] {
    color: transparent;
    font-size: -1px;
}

input[type="file"]::file-selector-button {
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: var(--cor1);
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;

    transition: .4s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--cor3);
    color: white;
}

footer p {
    color: white;
    font: bold 15px "Arial", sans-serif;
    text-align: center;
}

input[type="submit"] {
    width: 100%;
    font-size: 16px;
    background-color: var(--cor1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    
    transition: .4s ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--cor3);
    color: white;
    font-weight: bold;
    transform: translateY(-10px);
}

footer {
    width: 100vw;
    background-color: var(--cor1);
    padding: 10px;
}

footer abbr  {
    font-style: italic;
    text-decoration: underline;
}